html {
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    padding: 15px 25px;
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #00254be6;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar ul li a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s;
  font-size: 1.2em;
  font-family: 'Source Sans Serif', sans-serif;
  margin-top: 10px;
}

.sidebar ul li a:hover {
  color: #f18f5e;
  transition: 0.3s;
}

.sidebar.show {
  left: 0;
}

.sidebar ul .closebtnnav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3em;
  margin-left: 50px;
  text-decoration: none;
  color: #f18f5e;
}

.openbtn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2em;
}

.openbtn:hover {
  color: #f18f5e;
  transition: 0.3s;
}

main{
  padding: 20px;
}

main #add-employee{
  max-width: 160px;
  border: 1px solid #00254b;
  border-radius: 15px ;
  background-color: #ff9966;    
  padding: 7px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #001f3f;
  cursor: pointer;
  margin: 0 0 15px 0;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #00254be6;
  overflow-x: hidden;
  transition: 0.5s;;
}
#overlay #employee-form h1{
  text-align: center;
  color: #ff9966;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin: 0 0 20px 0;
}

#employee-form {
  min-width: 200px;
  max-width: 450px;
  background-color: #00254b;
  padding: 30px 50px;
  margin: 0 auto;
  border: 2px solid #ff9966;
  border-radius: 20px;
  box-shadow: 10px 10px 18px -3px #f08080b0;
  position: relative;
  top: 5%; 
  text-align: center; 
}

#employee-form label {
  font-size: 1.4em;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: left;
  display: block;
  margin: 0 0 10px 0;
}

#employee-form input{
  width: 350px;
  padding: 9px 12px;
  background-color: #85c1e952;
  border: none;
  border-radius: 20px;
  box-shadow: 0 7px 9px -6px #fffefed3;
  outline: none;
  color: white;
  font-size: 1.1em;
}

#employee-form #submit-button {
  width: 160px;
  background-color: #f18f5e;
  cursor: pointer;
}

#overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
    color: white;
}

.employee {
  background-color: #f5faff;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.employee div {
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 1px solid #00254b;
  margin: 10px 0;
}

.employee div:first-child{
  margin-top: 0;
}

.employee div:last-child{
  margin-bottom: 0;
}

.employee .label {
  color: #001f3f;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
}

.employee .delete-employee-button {
  max-width: 140px;
  border: 1px solid #00254b;
  border-radius: 15px ;
  background-color: #ff9966;    
  padding: 7px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #001f3f;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
